<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seed.springboot.system.mapper.SysMenuMapper">

	<sql id="SysMenuColumns">
		t.id,
		t.parent_id AS "parentId",
		t.parent_ids AS "parentIds",
		t.tree_sort AS "treeSort",
		t.tree_leaf AS "treeLeaf",
		t.tree_level AS "treeLevel",
		t.menu_name AS "menuName",
		t.menu_type AS "menuType",
		t.menu_href AS "menuHref",
		t.menu_target AS "menuTarget",
		t.menu_icon AS "menuIcon",
		t.menu_color AS "menuColor",
		t.permission AS "permission",
		t.weight AS "weight",
		t.is_show AS "isShow",
		t.status AS "status",
		t.create_by AS "createBy",
		t.create_date AS "createDate",
		t.update_by AS "updateBy",
		t.update_date AS "updateDate",
		t.remarks AS "remarks"
	</sql>
    
	<select id="findListByUserId" resultType="SysMenu">
		SELECT DISTINCT 
		<include refid="SysMenuColumns"/>
		FROM sys_menu t
        JOIN sys_role_menu rm ON rm.menu_id = t.id
        JOIN sys_role r ON r.id = rm.role_id AND r.status = #{STATUS_NORMAL}
        JOIN sys_user_role ur ON ur.role_id = r.id
        JOIN sys_user u ON u.id = ur.user_id AND u.id = #{userId}
        WHERE t.status = #{STATUS_NORMAL}
        <if test="parentId != null and parentId != ''">
			AND t.parent_id = #{parentId}
		</if>
        ORDER BY t.tree_sort
    </select>
    
    <select id="findListByRoleId" resultType="SysMenu">
    	SELECT 
        <include refid="SysMenuColumns"/>
        FROM sys_menu t
        LEFT JOIN sys_role_menu rm ON rm.menu_id = t.id
        WHERE t.status = #{STATUS_NORMAL}
        AND rm.role_id = #{roleId}
        <if test="parentId != null and parentId != ''">
			AND t.parent_id = #{parentId}
		</if>
        ORDER BY t.tree_sort
    </select>
    
    <select id="findByParentIdsLike" resultType="SysMenu">
		SELECT
			t.id,
			t.parent_id AS "parentId",
			t.parent_ids AS "parentIds"
		FROM sys_menu t
		WHERE t.status = #{STATUS_NORMAL} 
		AND t.parent_ids LIKE #{parentIds}
		ORDER BY t.tree_sort
	</select>
	
	<update id="updateParentIds">
		UPDATE sys_menu SET 
			parent_id = #{parentId}, 
			parent_ids = #{parentIds},
			tree_level = #{treeLevel}
		WHERE id = #{id}
	</update>
	
	<update id="updateTreeLeaf">
		UPDATE sys_menu SET 
			tree_leaf = 0
		WHERE parent_ids LIKE #{parentIds}
	</update>
</mapper>