<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seed.springboot.system.mapper.SysMenuMapper">

	<sql id="SysMenuColumns">
		t.menu_code AS "menuCode",
		t.parent_code AS "parentCode",
		t.parent_codes AS "parentCodes",
		t.tree_sort AS "treeSort",
		t.tree_sorts AS "treeSorts",
		t.tree_leaf AS "treeLeaf",
		t.tree_level AS "treeLevel",
		t.tree_names AS "treeNames",
		t.menu_name AS "menuName",
		t.menu_type AS "menuType",
		t.menu_href AS "menuHref",
		t.menu_target AS "menuTarget",
		t.menu_icon AS "menuIcon",
		t.menu_color AS "menuColor",
		t.permission AS "permission",
		t.weight AS "weight",
		t.is_show AS "isShow",
		t.status AS "status",
		t.create_by AS "createBy",
		t.create_date AS "createDate",
		t.update_by AS "updateBy",
		t.update_date AS "updateDate",
		t.remarks AS "remarks"
	</sql>
    
	<select id="findListByUserCode" resultType="SysMenu">
		SELECT 
		<include refid="SysMenuColumns"/>
		FROM sys_menu t
        JOIN sys_role_menu rm ON rm.menu_code = t.menu_code
        JOIN sys_role r ON r.role_code = rm.role_code AND r.status = '0'
        JOIN sys_user_role ur ON ur.role_code = r.role_code
        JOIN sys_user u ON u.user_code = ur.user_code AND u.user_code = #{userCode}
        WHERE t.status = '0'
        ORDER BY t.tree_sort
    </select>
    
    <select id="findListByRoleCode" resultType="SysMenu">
    	SELECT 
        <include refid="SysMenuColumns"/>
        FROM sys_menu t
        LEFT JOIN sys_role_menu rm ON rm.menu_code = t.menu_code
        WHERE t.status = '0'
        AND rm.role_code = #{roleCode}
        ORDER BY t.tree_sort
    </select>
</mapper>